@page
@model StudentRazorTest.Pages.StudentList.IndexModel


<br />
<div class="container row p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Student List</h2>
    </div>
    <div class="col-3">
        <a asp-page="Create" class="btn btn-info form-control text-white">Create New Student</a>
    </div>


    <div class="col-12 border p-3 mt-3">
        <form method="post">
            @if (Model.TheStudentCatalogSingleton.Students.Count() > 0)
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="TheStudentCatalogSingleton.Students.FirstOrDefault().No"></label>
                        </th>
                        <th>
                            @*@Html.DisplayNameFor(m=>m.Books.FirstOrDefault().Author)*@
                            <label asp-for="TheStudentCatalogSingleton.Students.FirstOrDefault().Name"></label>
                        </th>
                        <th>
                            <label asp-for="TheStudentCatalogSingleton.Students.FirstOrDefault().Address"></label>
                        </th>
                        <th>

                        </th>
                    </tr>
                    @foreach (var item in Model.TheStudentCatalogSingleton.Students)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => item.No)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => item.Address)
                            </td>
                            <td>
                                <button asp-page-handler="Delete" asp-route-id="@item.No" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">Delete</button>
                                <a asp-page="Edit" asp-route-id="@item.No" class="btn btn-success btn-sm text-white">Edit</a>
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No students available.</p>
            }
        </form>
    </div>


    
</div>
